<div class="centerWrapper">
    <div class="hourglassBackground">
        <div class="hourglassContainer">
            <div class="hourglassCurves"></div>
            <div class="hourglassCapTop"></div>
            <div class="hourglassGlassTop"></div>
            <div class="hourglassSand"></div>
            <div class="hourglassSandStream"></div>
            <div class="hourglassCapBottom"></div>
            <div class="hourglassGlass"></div>
        </div>
    </div>
    <p class="loadingText">Please wait while we find the perfect book and playlist for you...</p>
</div>