<div class="container" style="
background-image: url('assets/images/cups2.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
">
    <h1><i>Let the Ink Flow</i></h1>

    <div class="writing-box">
        <textarea id="name" placeholder="Name your work"></textarea>
        <textarea id="writingArea" placeholder="Start writing here..."></textarea>
        <button class="button" (click)="downloadText()">Download Your Writing</button>
    </div>

</div>