<div class="container" style="
background-image: url('assets/images/readerbby.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
">
    <div class="surrounder">
        <h1>Get a Book Recommendation for Writers!</h1>
        <button (click)="getRandomBook()">Get a Book!</button>


        <div id="bookContainer" *ngIf="selectedBook">
            <h2>{{ selectedBook["Book Name"] }}</h2>
            <p>
                <a [href]="selectedBook['Goodreads Link']" target="_blank">View on Goodreads</a>
            </p>
        </div>
    </div>
</div>